@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
            <RadzenDialog />
            <RadzenNotification />
        </article>
    </main>
</div>
@code
{
    [CascadingParameter]
    protected Task<AuthenticationState> AuthState { get; set; }

    [Inject]
    ILocalStorageService? LocalStorageService { get; set; }

    [Inject]
    NavigationManager? NavigationManager { get; set; }

    private String logingStr = "About";


    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if (authState.User.Identity.IsAuthenticated)
        {

            logingStr = await LocalStorageService.GetItemAsStringAsync("email");
        }
        else
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
